name: Data_Mining_2026_Project_Env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - ipykernel
  - pip
  - pip:
      - kaggle
